.App {
  text-align: center;
  background-color: white;
  height: 600px;
  padding: 30px;
  width: auto;
  justify-self: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(46, 109, 228);
  border-radius: 4px;
}

.txtInput {
  padding: 15px;
  font-size: 16px;
  background: "transparent";
  border: none;
  outline: none;
  width: 100%;
}

input:focus {
  outline: none !important;
}

.selectOptions {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
  margin-top: 5px;
  border: 1px solid rgb(238, 238, 238);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  display: inline-block;
}
.option {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.selectedItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  height: 32px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(234, 235, 238);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.optionsMouseEnter {
  background-color: rgb(253, 235, 184);
}

.optionsMouseLeave {
  background-color: rgb(255, 255, 255);
}

.error {
  width: "20%";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  padding: 5px;
  background-color: "red";
  border-radius: 4px;
}

.selectBox {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fs12 {
  font-size: 12px;
}
.textColorRed {
  color: red;
}
.textColorWhite {
  color: white;
}
.pdr5 {
  padding-right: 5px;
}

.selectBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  border-left: 1px solid rgb(223, 223, 223);
  margin: 5px;
}
